#div-born {
    border: 1px solid black;

    width: 500px;
    height: 500px;
    
    position:relative
}

.div-red {
    background-color: red;

    border: 1px solid white;

    width: 98px;
    height: 98px;

    position: absolute;
}

.div-green {
    background-color: green;

    border: 1px solid white;

    width: 98px;
    height: 98px;

    position: absolute;
}

#div-born > .div-red:nth-child(1){
    top: 400px;
}
#div-born > .div-red:nth-child(2){
    top: 300px;
}
#div-born > .div-red:nth-child(3){
    top: 200px;
}
#div-born > .div-red:nth-child(4){
    top: 400px;
    left: 100px;
}


#div-born > .div-green:nth-child(5){
    top: 300px;
    left: 100px;
}
#div-born > .div-green:nth-child(6){
    top: 400px;
    left: 200px;
}
#div-born > .div-green:nth-child(7){
    top: 400px;
    left: 300px;
}
#div-born > .div-green:nth-child(8){
    top: 300px;
    left: 200px;
}


.container-2 {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.container-2 tr:last-child td:first-child,
.container-2 tr:last-child td:nth-child(2),
.container-2 tr:nth-child(4) td:first-child,
.container-2 tr:nth-child(3) td:first-child{
    background-color: red;
}

.container-2 tr:last-child td:nth-child(3),
.container-2 tr:last-child td:nth-child(4),
.container-2 tr:nth-child(4) td:nth-child(3),
.container-2 tr:nth-child(4) td:nth-child(2){
    background-color: green;
}